name: Build
on:
  push:
    branches:
    - main
    - develop
    - release/**
  pull_request:
    branches:
    - main
    - develop
  workflow_dispatch:
    inputs:
      build-type:
        description: 构建类型
        required: false
        default: release
      run-tests:
        description: 运行测试
        required: false
        default: 'true'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: 'python -m pip install --upgrade pip

        pip install -r requirements.txt'
    - name: Check Python version
      run: python --version
    - name: Check Git version
      run: git --version
    - name: Run Build
      id: pipeline
      env:
        PYTHONUNBUFFERED: '1'
        BUILD_TYPE: release
        CI: 'true'
        GITHUB_OUTPUT: ${{ github.output }}
      run: python -m src.pipelines.build_pipeline --input project-name=${{ github.repository }} --input build-type="${{ inputs.build-type }}" --input build-version=${{ github.ref_name }} --input run-tests="${{ inputs.run-tests }}" --input run-lint="true" --input upload-artifacts="false"
